* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

header {
grid-area: header;
background-color: #EACEB5;
}

nav {
grid-area: nav;
}
main {
grid-area: main;
}

.flex {
  display: flex;
}

/* BODY */
.gridBody {
  margin: 1rem;
  padding: 1rem;  
  background-color: #F6E3CA;

}

/* FOOTER */

footer {  
grid-area: footer;
background-image: linear-gradient(to right, #F1C8A4, #b29f94);
}

.redes {
  justify-content: center;
  width: 50px;    
}

  .red {
    background-color: #ffffff;
    border-radius: 50px;    
  }

.redSocial{
  text-align: center;
  justify-content: center;
}  

.divTexto {
  justify-content: center;
}

/* FINAL */

.t1 {
font-size: 5rem;
font-weight: bold;
text-align: center;
}


.boxUno {
background-image: radial-gradient(red, yellow);
animation-name: animacion;
animation-iteration-count: infinite;
animation-duration: 2s;
animation-delay: 5s;
}

.imagen1S1 {
width: 100%;
/* height: auto;    */
}

@keyframes animacion {
0% {
  width: 220px;
}
25% {
  width: 240px;
}
50% {
  width: 260px;
}
75% {
  width: 280px;
}
100% {
  width: 300px;
}

}

.seccion3A {
grid-area: seccion3A;  
}  

/* FORMATO seccion3B */

.seccion3B {
grid-area: seccion3B;  
}

.divCuero {
  justify-content: center;
}

.textCueroTitulo {
  text-align: center;
  font-size: larger;  
  font-weight: bolder;
}

.textCueroSubtitulo {
  text-align: center;
  font-size: medium;  
  font-weight: bold;
}

.textCueroInfo {
  text-align: center;
  font-size: small;  
}

/* FINAL seccion3B */


/* FORMATO seccion3B */

.seccion3C {
grid-area: seccion3C;  
}

.cardS {
  justify-content: center;
}

.card1 {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.card2 {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.card3 {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.text3cTitulo {
  justify-content: center;
  font-size: medium;  
  font-weight: bolder;
}

.text3cSubtitulo {
  text-align: center;
  font-size: small;
  font-weight: lighter;
}

/* FINAL seccion3C*/

.imgMarca {
max-width: 250px;
}

.cajaImgHyF {
  display: flex;
  justify-content: center;
}

/*  FORMATO DEL MENU HEADER*/
.ulNavH {
  list-style-type: none;
  text-align: center  
}

.liNavH {
  background-color: #F6E3CA;
  border: #D7C8B6 2px double;
  display: inline;
  margin-right: 10px;
}

.aNavH {
  color: black;
  padding: 0 50px;
  text-decoration: none;
}

.fondoNav {  
  margin: 0;
  padding: 10px;  
  border: 5px, solid, brown;    
}

.fondoNav2 { 
  background-color: #F6E3CA;      
}

/* final del formato */

.testFlex {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;    
  align-items: center;
  border: solid;
  border-color: red;
}
.testFlex2 {
 display: flex;
 align-items: center;
}

.gridPadre {
 display: grid;
 grid-template-columns: auto auto;
 grid-template-rows: 1fr 1fr 1fr;
 column-gap: 15px;
 row-gap: 15px;
 width: 100%;
}

.gridPadre2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
  width: 100%;
 }

 .gridPadre3 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
  width: auto;
 }


.item {
font-size: 2rem;
font-weight: bold;
text-align: center;
}

.carrU {
  padding: 1rem;
  margin: 1rem;
  background-color: #A5866B;
}

/* CONTACTO */
.sectionMaps {
  padding: 1rem 2rem;
  justify-content: center;
}

.textArtMap {
  text-align: center;
  justify-content: center;
}

.articleMap {
  flex-direction: column;
}

.map {
  width: 100%;
  height: 30rem;
  align-self: center; }
  /* FINAL CONTACTO */

  /* SHOP */

  .shop {
    display: grid;
    row-gap: 2rem;
    /* display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    width: 100%; */
  }
  
  .producto {
    width: 30rem;
    height: 40rem;
    background-color: #ffffff;
    padding: 1rem;
    margin: auto;
  }

  .productoName {
    text-align: center;
    font-size: 2rem;
  }

  .productoPrecio {
    text-align: center;
    font-size: 2rem;
  }

  .button {
    margin: 1rem auto;
    height: 3rem;
    width: 100%;
    text-align: center;
    border: 0.1rem solid #292929;
    cursor: pointer;
    font-size: 2rem;
    text-transform: uppercase; 
  }
  .button:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 5px #000;
  }

  .buttonText{    
    color: #292929;
    margin: 0,5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  /* final SHOP */

/* version tablet y desktop */

@media screen and (min-width:768px) and (max-width:1023px) {
.gridBody {
  /* display: grid; */
  grid-template-areas: 
  "header header"   
  "nav nav" 
  "main main"
  /* "seccion3A seccion3A"
  "seccion3B seccion3B"
  "seccion3C seccion3C" */
  "footer footer";
grid-template-columns: 50% 50%;
grid-template-rows: 100px 1fr auto 400px;

}

}

/* version mobile*/

@media screen and (min-width:0px) and (max-width:767px) {
.gridBody {
  display: grid;
  grid-template-areas: 
  "nav"
  "header"
  /* "nav" */
  "main"
  /* "seccion3A"
  "seccion3B"
  "seccion3C" */
  "footer";
  grid-template-columns: 100%;
  grid-template-rows: 100px 1fr auto 400px auto;
  
}

}
/* Nav modificado*/
@media screen and (min-width:0px) and (max-width:400px) {
.seccion3C {display: none;}
.gridPadre {
  grid-template-columns: 100%;  
}

.ulClass1 li{
  display:flex;
  justify-content: center;
  margin-right: 0px;
}
}
